{% extends "base.html" %}

{% block app_content %}
<h1>{{ user.username }}</h1>
<p class="post_info">Member since {{ moment(user.registration_date).format('MMMM Do YYYY') }}</p>
	<p class="post_info">
	{% for post in posts %}
	{% if post.deleted %}
	<p class="post_title">Deleted post.</p>
	<p class="post_info">Posted {{ moment(post.timestamp).fromNow() }}, deleted {{ moment(post.deleted_timestamp).fromNow() }}</a></p>
	{% else %}
	<p class="post_title"><a href={{ post.url }}>{{ post.title }}</a></p>
	<p class="post_info">Posted {{ moment(post.timestamp).fromNow() }}{% if user == current_user %}, <a href= {{ url_for('main.delete', post_id=post.id) }}>delete post</a></p>		
	{% else %}
	</p>
	<p class="post_info"></p>
	{% endif %}
	{% endif %}
	
	{% endfor %}
	{% endblock %}